spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    url: /openapi/openapi.yaml
    disable-swagger-default-url: true

security:
  jwt:
    secret: ${JWT_SECRET:BIXSbl2F8xuoUXx43MWNRAsgTcpkkKLTX4fMrKc2cXg=} # Debe ser Base64 y segura
    expirationMillis: 3600000
  password-regex: '^(?=.{8,}$)(?=.*[A-Za-z])(?=.*\d).*$'